@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

body {
  font-family: "Raleway", sans-serif;
}

:root {
  --unnamed-color-041e42: #041e42;
  --unnamed-color-ff8672: #ff8672;
  --unnamed-color-ffffff: #ffffff;
  --unnamed-color-fe8672: #fe8672;
  --unnamed-color-111111: #111111;

  --color-primary: var(--unnamed-color-041e42);
  --color-secondary: var(--unnamed-color-ff8672);
  --color-white: var(--unnamed-color-ffffff);
  --color-dark: var(--unnamed-color-111111);

  --font-family-raleway: "Raleway", sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
